<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no" />
  <title></title>
  <link as="font" crossorigin href="fonts/Roboto-Bold.woff2" rel="preload" type="font/woff2" />
  <link as="font" crossorigin href="fonts/Roboto-Regular.woff2" rel="preload" type="font/woff2" />
  <link rel="stylesheet" href="css/main.css" />
  <script defer src="js/main.js"></script>
</head>
